<div class="container">
  <h1 style="text-align: center;">Restful Tasks API</h1>

    <button class="btn btn-primary" (click)="GetAllTasks()">Get all Tasks</button>
    <div *ngIf="unclick">
      <ul *ngFor="let task of tasks; index as i">
        <li>{{tasks[i].title}} - {{tasks[i].description}} <button class="btn btn-danger" (click)="ClickInfo(tasks[i]._id)">Click Me</button></li>
      </ul>
    </div>
    <div *ngIf="getDetail" id="detail">
      <h2>Tasks Detail</h2>
      <h4>Title: {{detail[0].title}}</h4>
      <p>Description: {{detail[0].description}}</p>
    </div>
    
</div>



