<div class="container">
  <h2>New Task</h2>
  <div class="row">
    <form (submit)="CreateTask()">
      <div class="form-group row">
        <label for="title">Title</label>
        <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
      </div>
      <div class="form-group row">
        <label for="description">Description</label>
        <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
      </div>
      <button type="submit">Create</button>
    </form>
    {{ newTask | json }}
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Tasks List</h2>
      <button (click)="ClickAllTask()">Show All</button>
      <div *ngIf="taskClick">
        <ul *ngFor="let t of tasks">
          <li>{{t.title}} - {{t.description}} <button (click)="ClickDetail(t._id)">Show Details</button></li>
        </ul>
      </div>
      
    </div>
    <div class="col-md-6">
      <div *ngIf="getDetail" id="detail">
        <h2>Task Detail</h2>
        <h4>Title: {{detail[0].title}}</h4>
        <p>Description: {{detail[0].description}}</p>
        <p><b>Completed: </b><i>{{detail[0].completed}}</i></p>
        <button (click)="EditTask(detail[0]._id)">Edit</button>
        <button (click)="RemoveTask(detail[0]._id)">Delete</button>
        
      </div>
      <div *ngIf="edit">
        <h2>Edit a task</h2>
        <form (submit)="UpdateTask(detail[0]._id)">
          <div class="form-group row">
            <label for="title">Title</label>
            <input type="text" name="editTask.title" [(ngModel)]="editTask.title" />
          </div>
          <div class="form-group row">
            <label for="description">Description</label>
            <input type="text" name="editTask.description" [(ngModel)]="editTask.description" />
          </div>
          <div class="form-group row">
            <label for="compeleted">Completed</label>
          </div>
          <button type="submit">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>